* { /* selector universal */
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}





/* PORTADA */

#portada{
    padding-top: 30px;
    background-color: black;
    align-content: center;
}

.portada_contenido{
    background-color: black;
    height: 450px;
    max-width: 1000px;
    margin: auto;
    background-image: url(../img/portada.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 200px;
}
#portada .portada_contenido .portada__titulo {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

#portadas2 .portadas2_cajas .portadas2_cajas_noticia1 div{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

#portadas2 .portadas2_cajas .portadas2_cajas_noticia2 div{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

#portada .portada__texto {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    background-color: yellow;
    color: black;
    margin-bottom: 15px;
    display: block;
    padding: 10px;
}
#portada .portada_button {
    text-align: center;
}
#portada .portada_button a {
    text-decoration: none;
    background-color: #96b7c0;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
}
#portada .portada_button a:hover {
    background-color: yellow;
    color:rgb(0, 0, 0);
}

/* HOME ESTILOS GENERALES */

.titulos_home{
    text-align: center;
    font-weight: 900;
    font-size:larger;
    padding-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    margin: auto;
    max-width: 1000px;
    
}

.titulos_home_2{
    text-align: center;
    font-weight: 900;
    font-size:larger;
    color: white;
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: auto;
    max-width: 1000px; 
}

#portada_artistas .portada_artistas_cont .portada_artistas_ind div{
font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 55px;
text-align: left;
color: #ffff;
margin-bottom: 20px;
}


/* NOTICIAS Y AGENDA */

#portadas2  {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px; 
    align-content: center;
}

.portadas2_cajas {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.portadas2_cajas .portadas2_cajas_noticia1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

.portadas2_cajas .portadas2_cajas_noticia2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

.portadas2_cajas_noticia1 {
    margin: 5px;
    width: 490px;
    height: 300px;
    padding: 150px 30px 30px 30px;
    background-color: grey;
    box-sizing: border-box;
    
    background-image: url(../img/noticia_destacada.jpg);
    background-size: cover;
}



.portadas2_cajas_noticia2 {
    margin: 5px;
    width: 490px;
    height: 300px;
    padding: 150px 30px 30px 30px;
    background-color: grey;
    box-sizing: border-box;
    background-image: url(../img/noticia_destacada2.jpg);
    background-size: cover;
}


/* NUEVOS LANZAMIENTOS */

#nuevos_lanzamientos {
    margin: auto;
    background-color: yellow;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px; 
    padding-left: 0%;
    padding-right: 0%;
    align-content: center; 
}

.nuevos_lanzamientos_discos{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-top: 20px;
    
}
.nuevos_lanzamientos_discos_ind  img:hover {
    opacity: 0.8;
}

.nuevos_lanzamientos_discos_ind {
    width: 240px;
    text-align: center;
    box-sizing: border-box;
    margin: 5px ;

}

#nuevos_lanzamientos .nuevos_lanzamientos_discos img{
    max-width: 240px;
    height: auto;
}

.disco_tit{
    font-weight: bold;
    margin-top: 10px;
}

/* ULTIMAS NOTICIAS */

#seccion_ultimas_noticias {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 30px; 
    align-content:center;
    
}

.ultimas_noticias {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.ultimas_noticias_ind {
    margin: 5px ;
    padding-top: 25px;
    width: 320px;
    height: 350;
    box-sizing: border-box;
    text-align: left;
    color: white;
}

#seccion_ultimas_noticias .ultimas_noticias .ultimas_noticias_ind img 
{
    max-width: 320px;
    height: auto;
}

.ultimas_not_tipo {
    margin-top: 20px;
    font-weight: lighter;
    font-size: 12px;
}

.ultimas_not_tit {
    font-weight: bold;
    margin-top: 10px;
}

.ultimas_not_fecha {
    margin-top: 15px;
    font-weight: lighter;
    font-size: 12px;
}


/* HOME PLAYLISTS */

#seccion_playlists{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px; 
    align-content: center;
}

.playlists {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.playlists_ind{
    margin: 5px;
    width: 320px;
    height: 380;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    
}

/* FOOTER - PIE DE PAGINA */

.footer {
    background-color: yellow;
    text-align: center;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:large;
    font-weight: bold;
}

/* SECCION CONTACTO */

.portada_contacto {
    background-color: black;
    height: 450px;
    max-width: 1000px;
    margin: auto;
    background-image: url(../imagenes/contacto.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 200px;
}

#contacto_formulario{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px; 
    align-content: center;
    color: white;
}

.contacto_formulario_form {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1000px;
    margin: auto;
    display: block;
}

/* SECCION ARTISTAS */

#portada_artistas  {
    background-color: black;
    padding-top: 10px;
    align-content: center;
    padding-bottom: 30px; 
}

.portada_artistas_cont{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.portada_artistas_cont .portada_artistas_ind{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    color: #fff;
}
.portada_artistas_ind {
    margin: 5px;
    width: 100%;
    height: 450px;
    padding: 150px 30px 30px 30px;
    background-color: grey;
    box-sizing: border-box;
    /*background-image: url(/img/contacto.jpg);
    background-size: cover;*/
}

#catalogo_artistas {
    margin: auto;
    background-color: yellow;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-left: 0%;
    padding-right: 0%;
    align-content: center; 
}

.portada_artistas {
    background-color: black;
    height: 450px;
    max-width: 1000px;
    margin: auto;
    background-image: url(../imagenes/contacto.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 200px;
}

#seccion_artistas {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px; 
    align-content: center;
}

    .seccion_artistas_catalogos{
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.seccion_artistas_catalogo_ind {
    margin: 10px;
    width: 235px;
    height: 235px;
    padding: 50px;
    background-color: grey;
    text-align: center;
    box-sizing: border-box;
}

/* SECCION CATALOGO */

#seccion_catalogo_productos {
    margin: auto;
    background: linear-gradient(to bottom, rgb(107, 218, 113), yellow);
    color: black;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-left: 0%;
    padding-right: 0%;
    align-content: center; 
}
#seccion_catalogo_productos2 {
    margin: auto;
    background: yellow;
    color: black;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px; 
    padding-left: 0%;
    padding-right: 0%;
    align-content: center; 
}

.boton_comprar {
    background-color: black;
    width: 100px;
    height: auto;
    transition: all 1s;
    color: yellow;
    font-size: .8rem;
    font-weight: bold;
    padding: .5rem ;
}
.boton_comprar:hover {
    width: 130px;
    height: auto;
}

/* SECCION NOTICIAS */

#portada_noticia  {
    background-color: black;
    padding-top: 10px;
    align-content: center;
}

.portada_noticia_cont{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#portada_noticia .portada_noticia_cont .portada_noticia_ind div{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-align: left;
    color: #ffff;
    margin-bottom: 20px;
}
.portada_noticia_ind {
    margin: 5px;
    width: 100%;
    height: 450px;
    padding: 150px 30px 30px 30px;
    background-color: grey;
    box-sizing: border-box;
    background-image: url(/img/contacto.jpg);
    background-size: cover;
}

/*.portada_noticias {
    background-color: black;
    height: 450px;
    max-width: 1000px;
    margin: auto;
    background-image: url(/img/contacto.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    display: flex;
}

#seccion_noticias {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px; 
    align-content: center;
}

    .seccion_noticias_catalogos{
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.seccion_noticias_catalogo_ind {
    margin: 10px;
    width: 500px;
    height: 250px;
    padding: 50px;
    background-color: grey;
    text-align: center;
    box-sizing: border-box;
}*/

/* SECCION NOSOTROS */

.portada_nosotros{
    background-color: black;
    height: 450px;
    max-width: 1000px;
    margin: auto;
    background-image: url(../imagenes/contacto.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 200px;
}

#seccion_nosotros {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px; 
    align-content: center;
}

    .seccion_nosotros_catalogos{
    max-width: 1000px;
    margin: auto;
    display: block;
}

.seccion_nosotros_catalogo_ind {
    margin: 10px;
    width: 1000px;
    height: 250px;
    padding: 50px;
    background-color: grey;
    text-align: center;
    box-sizing: border-box;

}

#seccion_redes {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px; 
    align-content: center;
    border-bottom: .3rem
     solid rgb(255, 255, 255);
}

.seccion_redes_flex {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content:space-between;
    background-color: rgb(0, 0, 0);
}

.social-icon {

    box-sizing: border-box;
    font-size: 1.5rem;
    color: yellow