/* ESTILOS NOTICIAS */

#noticia_principal {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 30px; 
    align-content:center;
    
    
}

.noticia_principal_padre {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: blueviolet;
}

.noticia_principal_hijo {
    margin: 5px ;
    padding-top: 25px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: left;
    color: white;
}

#seccion_ultimas_noticias .ultimas_noticias .ultimas_noticias_ind img 
{
    max-width: 320px;
    height: auto;
}

.ultimas_not_tipo {
    margin-top: 20px;
    font-weight: lighter;
    font-size: 12px;
}

.ultimas_not_tit {
    font-weight: bold;
    margin-top: 10px;
}

.ultimas_not_fecha {
    margin-top: 15px;
    font-weight: lighter;
    font-size: 12px;
}